.home {
    // background-color:#ECECEC;
    // border-color: #000;
    // border-width: 10px;

    background-image: url('../../../images/HomePage.png');
    background-repeat: repeat;
    background-position: center;
}

// .homeView {
//     background: url('../images/HomePage.png') no-repeat center;
// }
